@model ProjetoCallCenter.MVC.ViewModels.UsuarioViewModel

@{
    ViewBag.Title = "Excluir Usuário";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3>Deseja realmente excluir esse Usuário?</h3>
<div>
@using (Html.BeginForm())
{
    <hr />
    <dl class="dl-horizontal">
            @Html.HiddenFor(model => model.UsuarioId)
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Tipo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Credencial.TipoCredencial.Descricao)
        </dd>

        <dt>
            Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Credencial.Status.Descricao)
        </dd>

    </dl>

        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar à lista", "Index")
        </div>
    }
</div>
