@model ProjetoCallCenter.MVC.ViewModels.CredorViewModel

<div class="form-group">
    <div class="col-md-offset-1 col-md-3">
        @Html.LabelFor(model => model.CNPJ, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.CNPJ, new { htmlAttributes = new { @class = "form-control cnpj" } })
        @Html.ValidationMessageFor(model => model.CNPJ, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-7">
        @Html.LabelFor(model => model.RazaoSocial, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.RazaoSocial, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.RazaoSocial, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-1 col-md-5">
        @Html.LabelFor(model => model.NomeFantasia, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.NomeFantasia, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.NomeFantasia, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-5">
        @Html.LabelFor(model => model.Responsavel, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Responsavel, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Responsavel, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-1 col-md-2">
        @Html.LabelFor(model => model.Telefone, htmlAttributes: new { @class = "control-label"})
        @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "sp_celphones form-control" } })
        @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(model => model.CEP, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.CEP, new { htmlAttributes = new { @class = "form-control cep" } })
        @Html.ValidationMessageFor(model => model.CEP, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-1 col-md-7">
        @Html.LabelFor(model => model.Logradouro, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Logradouro, new { htmlAttributes = new { @class = "form-control", Value = Model != null ? Model.Logradouro : "" } })
        @Html.ValidationMessageFor(model => model.Logradouro, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-1">
        @Html.LabelFor(model => model.Numero, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(model => model.Complemento, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Complemento, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Complemento, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-1 col-md-4">
        @Html.LabelFor(model => model.Bairro, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @class = "form-control", Value = Model != null ? Model.Bairro : "" } })
        @Html.ValidationMessageFor(model => model.Bairro, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-5">
        @Html.LabelFor(model => model.Cidade, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control", Value = Model != null ? Model.Cidade : "" } })
        @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-1">
        @Html.LabelFor(model => model.UF, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.UF, new { htmlAttributes = new { @class = "form-control", Value = Model != null ? Model.UF : "" } })
        @Html.ValidationMessageFor(model => model.UF, "", new { @class = "text-danger" })
    </div>
</div>
